# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Database
db.sqlite
*.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
DOCKER.md
Звіт 4

# Environment
.env
.env.example

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
